<mat-card class="movie-card shadow-lg" appearance="outlined">
  <div class="mb-4 max-w-[500px]">
    <img mat-card-image [src]="getImage()" alt="Photo of a {{ movie.title }}" />
  </div>
  <mat-card-content>
    <h2>{{ movie.title }}</h2>
    <p>{{ movie.overview }}</p>
  </mat-card-content>
  <mat-card-actions>
    <div class="flex w-full justify-center">
      @if (isFavorite()) {
        <button mat-button (click)="removeFavorite()" class="text-red-500">
          <mat-icon>delete</mat-icon>
          REMOVE FROM FAVORITES
        </button>
      } @else {
        <button mat-button (click)="addFavorite()">
          <mat-icon>favorite</mat-icon>
          ADD TO FAVORITES
        </button>
      }
    </div>
  </mat-card-actions>
</mat-card>
